.focus-header {
	max-width: 1000px;
	height: 200px;
	border-style: solid;
	border-color: blue;
	margin: 100px;
	position: relative;
	top: 50px;
}

.focus-condition {
	display: block;
}

dl>dt, dl>dd  {
	display: inline-block;
	margin: 5px;
	width: 80px;
	height: auto;
	border-style: solid;
	border-color: red;
}
div>img, div>input, div>dl {
	display: inline-block;
}

.color {
	background-color: yellow;
}

.focus-content {
	display: inline-block;
	width: 400px;
	height: 200px;
	border-style: solid;
	border-color: blue;
	margin-left: 10px;
}