.theme-condition {
	max-width: 100%;
	height: 500px;
	border-style: solid;
	border-color: blue;
	margin: 100px;
	position: relative;
	top: 50px;
}

.theme-option {
	display: block;
}
dl>dt, dl>dd  {
	display: inline-block;
	margin: 5px;
	width: 80px;
	height: auto;
	border-style: solid;
	border-color: red;
}
div>img, div>input, div>dl {
	display: inline-block;
}

.color {
	background-color: yellow;
}
.chosenTheme {
	background-color: blue;
}

#theme_list {
	border-style: solid;
	border-color: red;
}

#theme_chosen {

}

#option, 
#tMsg, 
#theme_list, 
#sMsg, 
#dMsg,
#pMsg {
	display: none;
}
